<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= 'site.title'.t %> - <%= 'site.description'.t %></title>

  <!-- Stylesheets -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet" />
  <link href="//fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'" />

  <!-- More stylesheets -->
  <%= stylesheet_link_tag "style" %>
  <%= yield :css %>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>
  <nav class="navbar navbar-inverse" style="margin-bottom: 0; background-color: #3399CC; border-radius: 0; border: 0;">
    <div class="container-fluid">
      <div class="navbar-left">
        <a class="navbar-brand" href="/" style="padding: 5px; color: white;">
          <%= image_tag('protege.jpg', :style=>"border-radius:100%; padding: 0px; width: 35px; height: 35px; display: inline; margin-left: 30px") %>
          <p style="margin-top: 7px; display: inline">Protégé</p>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!--<li><a href="/proposals" style="color: white">Home</a></li>-->
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if authenticated? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color: white">
                <!-- TODO: change the user name to the authenticated user -->
                User Name <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <%= form_tag session_path, method: :delete do  %>
                  <li><%= submit_tag("Log Out", :style=>"background: none; border: none; width: 100%; text-align: left", :name=>"submit") %></li>
                <% end %>
              </ul>
            </li>
          <% else %>
            <!-- TODO: add links to Login and Register -->
            <li><a href="/auth/login" style="color: white">Login</a></li>
            <li><a href="/auth/register" style="color: white">Register</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
    <br/>
  
  <!-- Flash Message -->
  <% if flash[:danger] || flash[:notice] %>
        <div class="alert alert-danger">
            <ul>
            <% if flash[:danger].kind_of?(Array) %>
                <% flash[:danger].each do |flash| %>
                    <%= content_tag :li, flash, class: "alert" %>
                <% end %>
            <% else %>
                <%= content_tag :li, flash[:danger] %>
            <% end %>
            </ul>
        </div>
    <% end %>

    <% if flash[:success] %>
        <div class="alert alert-success">
            <ul>
            <% if flash[:success].kind_of?(Array) %>
                <% flash[:success].each do |flash| %>
                    <%= content_tag :li, flash, class: "alert" %>
                <% end %>
            <% else %>
                <%= content_tag :li, flash[:success] %>
            <% end %>
            </ul>
        </div>
    <% end %>

  <%= yield :top %>
  
  <%= yield %>

  <%= yield :bottom %>

    <footer id="footer">
        <p class="copyright">&copy; Protégé 2015</p>
    </footer>

  <!-- Scripts -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.js"></script>
  <%= yield :script %>
    <script>
        $('#flash-overlay-modal').modal();
    </script>
</body>

</html>
